$main-color: #ff0000;
$black: #000;

html {
  font-family: "Courier New", Courier, monospace;
  margin: 1em;
}

address {
  padding: 1em;
}

details {
  background-color: lighten($main-color, 20%);
  padding: 1em;
}

details[open] {
  border: solid 1px lighten($black, 80%);
  filter: drop-shadow(0 0 5px lighten($black, 80%));
}
